<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="http://127.0.0.1:8000/css/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="http://127.0.0.1:8000/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="http://127.0.0.1:8000/css/bootstrap/css/bootstrap.css">

</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="container-fluid">
		<div id="app">
        	<nav class="navbar navbar-default navbar-static-top">
            	<div class="container">
               		<div class="navbar-header">
                    	<!-- Collapsed Hamburger -->
                    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                        	<span class="sr-only">Toggle Navigation</span>
                        	<span class="icon-bar"></span>
                        	<span class="icon-bar"></span>
                        	<span class="icon-bar"></span>
                  		 </button>
                    	<!-- Branding Image -->
                    	<a class="navbar-brand" href="">
                       		Isnaya-Print
                    	</a>
                	</div>
                	<div class="collapse navbar-collapse" id="app-navbar-collapse">
                    	<!-- Left Side Of Navbar -->
                    	<ul class="nav navbar-nav">
                        &nbsp;
                    	</ul>
                    	<!-- Right Side Of Navbar -->
                    	<ul class="nav navbar-nav navbar-right">
                        <!-- Authentication Links -->
                        <li><a href="http://127.0.0.1:8000/login">Acceder</a></li>
                        <li><a href="http://127.0.0.1:8000/register">Registrate</a></li>
                   		</ul>
           			</div>
       		 	</div>
    		</nav>
		</div>
	</div>
				
	<div class="container">
	<form method="POST" action="http://127.0.0.1:8000/prueba" accept-charset="UTF-8" name="formulario"><input name="_token" value="eHCWuyLch4BDEPdEuFfNhUHFIZ3vezu1OJxPEaF9" type="hidden">
		<h2>I Base de datos</h2>
		<div class="row">
			<div class="col-xs-3">
				<label for="texto">Fecha:</label>
				<input name="tiempolocal" class="form-control" type="date">
			</div> 
		</div>
		<br>	
		<div class="row">
			<div class="col-xs-4"> 
				<label for="texto">Nombre del cliente:</label> 
				<input class="form-control" name="cliente" type="text">
			</div> 
			<div class="col-xs-4"> 
				<label for="stexto">Nombre del Solicitante:</label> 
				<input class="form-control" name="solicitante" type="text">
			</div> 
		</div>
		<br><br>
		<div class="row">
			<div class="col-xs-3">
				<label for="texto">Telefono:</label> 
				<input class="form-control" name="telefono" type="text">
			</div>
			<div class="col-xs-3">
				<label for="texto">Fax:</label> 
				<input class="form-control" name="fax" type="text">  <br><br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-7">
				<label for="texto">Tipo de producto:</label> 
				<br>
				<select name="id_producto" >
        			<option value="0">producto 1</option>
       				<option value="1">producto 2</option>
					<option value="2">producto 3</option>
     			 </select>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-xs-3">
				<label for="texto">Formato:</label><br>
				<select name="formato" >
        			<option value="0">formato 1</option>
       				<option value="1">formato 2</option>
					<option value="2">formato 3</option>
     			</select>
			</div>
			<div class="col-xs-3">
				<label for="texto">Personalizado:</label> 
				<input name="pers" value="1" type="checkbox">
				<input class="form-control" name="formatoPers" type="text"> <br><br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<label for="texto">Volumen:</label> 
				<input class="form-control" onblur="utilidad()" name="volumen" type="text">
			</div>
			<div class="col-xs-3">
			<label for="texto">Caras:</label><br> 
                <select name="cara" >
        			<option value="0">cara 1</option>
       				<option value="1">cara 2</option>
     			 </select>
			</div>
			<div class="col-xs-3">
				<label for="texto">Material de portada:</label>
				<select name="mat_portada" >
        			<option value="0">portada 1</option>
       				<option value="1">portada 2</option>
     			 </select>
			</div>

			<div class="col-xs-3">
				<label for="texto">id value:</label> 
				<input class="form-control" name="id_val" type="text">
			</div>
			<div class="col-xs-3">
				<label for="texto">Material del cuerpo:</label> 
				<select name="mat_cuerpo" >
        			<option value="0">cuerpo 1</option>
       				<option value="1">cuerpo 2</option>
     			 </select>
				<!--<select name="mat_cuerpo"><option value="class">btn btn-default dropdown-toggle</option><option value="onchange">myFunction(this.value)</option></select>-->
			</div>
		</div>
		<br>
		<label for="texto">N°. de paginas del cuerpo:</label> 

		<div class="row">
			<div class="col-xs-2">
				<input class="form-control" name="texto" id="texto" type="text"> <br>
			</div>
			<div class="col-xs-2">
				<select name="pag_cuerpo"><option value="" class="btn btn-default dropdown-toggle"></option></select>
			</div>
			<div class="col-xs-2">
				<input class="form-control" name="pagCuerpo" type="text"> <br>
			</div>
			<div class="col-xs-2">
				<select id="texto" name="texto"><option value="" class="btn btn-default dropdown-toggle"></option></select>
			</div>
			<div class="col-xs-2">
				<input class="form-control" name="pagCuerpo" type="text"> <br>
			</div>
			<div class="col-xs-2">
				<select id="texto" name="texto"><option value="" class="btn btn-default dropdown-toggle"></option></select>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-2">
				<input class="form-control" name="pagCuerpo" type="text"> <br>
			</div>
			<div class="col-xs-2">
				<select id="texto" name="texto"><option value="" class="btn btn-default dropdown-toggle"></option></select>
			</div>
		</div>
		<label for="texto">N°. de paginas de Portada:</label>
		<div class="row">
			<div class="col-xs-2">
				<input class="form-control" name="texto" id="texto" type="text"> <br>
			</div>
			<div class="col-xs-2">
				<select name="pag_portada"><option value="" class="btn btn-default dropdown-toggle"></option></select>
			</div>
			
		</div>
		<div class="row">
			<div class="col-xs-9">
				<h4>Encuadernación</h4>
					<label for="texto">Grapado:</label> 
					<input name="enc_grapado" value="1" type="checkbox"> &nbsp;&nbsp;&nbsp;&nbsp;
					<label for="texto">Granel:</label> 
					<input name="enc_granel" value="2" type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;
					<label for="texto">Encolado:</label> 
					<input name="enc_encolado" value="3" type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;
					<label for="texto">Plastificado:</label> 
					<input name="enc_plastificado" value="4" type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;
					<label for="texto">Ultra violeta:</label> 
					<input name="enc_uVioleta" value="5" type="checkbox">
				
				<h4>Arte y Diseño</h4>
				<label for="texto">Imprenta:</label> 
				<input name="arteYdis_imp" value="1" type="radio">&nbsp;&nbsp;&nbsp;&nbsp;
				<label for="texto">Cliente:</label> 
				<input name="arteYdis_clie" value="2" type="radio"> <br><br>
				<label for="texto">Otros datos:</label> 
				<textarea class="form-control input-sm" name="otrosDatos" cols="50" rows="10"></textarea> <br><br>
			</div>
		</div>
		<div class="division"></div>
			<h2>Calcular Costos</h2>
			<h3><label for="texto">Papel 1:</label></h3>
			<div class="row">
				<div class="col-xs-3">
					<label for="text">Material:</label> 
					<input class="form-control" name="material_pap" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="text">Volumen:</label> 
					<input class="form-control" onblur="f_papel(this.value)" name="volum_pap" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="text">Costo Unitario:</label> 
					<input class="form-control" onblur="f_papel(this.value)" name="costo_unit_pap" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="text">Costo Total:</label> 
					<input class="form-control" onblur="funcion(this.value)" onchange="funcion(this.value)" name="costo_tot_pap" value="0" type="text"> <br>
				</div>
			</div>
		<hr>
		<h3><label for="texto">Cartulina:</label></h3>
			<div class="row">
				<div class="col-xs-3">
					<label for="text">Material:</label> 
					<input class="form-control" name="material_cart" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="text">Volumen:</label> 
					<input class="form-control" onblur="f_cart(this.value)" name="volum_cart" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="text">Costo Unitario:</label> 
					<input class="form-control" onblur="f_cart(this.value)" name="costo_unit_cart" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="text">Costo Total:</label> 
					<input class="form-control" onblur="funcion(this.value)" onchange="funcion(this.value)" name="costo_tot_cart" value="0" type="text"> <br>
				</div>
			</div>
			<hr>
			<br>
			<div class="row">
				<div class="col-xs-3">
					<label for="texto">Separacion de colores:</label> 
					<input class="form-control" onblur="funcion(this.value)" name="sep_colores" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Arte, diseño y diagramacion:</label> 
					<input class="form-control" onblur="funcion(this.value)" name="arteYdis" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Levantado de texto:</label> 
					<input class="form-control" onblur="funcion(this.value)" name="lev_texto" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Master electrostático o Láser:</label> 
					<input class="form-control" onblur="funcion(this.value)" name="laser" value="0" type="text"> <br>
				</div>
			</div>
			<hr>
			<h3><label for="texto">Laminas:</label><br></h3>
			<div class="row">
				<div class="col-xs-3">
					<label for="text">Volumen:</label> 
					<input class="form-control" onblur="f_lam(this.value)" name="volum_lam" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="text">Costo Unitario:</label> 
					<input class="form-control" onblur="f_lam(this.value)" name="costo_unit_lam" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="text">Costo Total:</label> 
					<input class="form-control" onblur="funcion(this.value)" name="costo_tot_lam" value="0" type="text"> <br>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-3">
					<label for="texto">Tintas offset:</label> 
					<input class="form-control" onblur="funcion(this.value)" name="tintasof" value="0" type="text"> <br>
				</div>
			</div>
			<hr>
			<h3><label for="texto">M.O. Fotomecánica:</label><br></h3>
			<div class="row">
				<div class="col-xs-3">
					<label for="texto">Volumen:</label> 
					<input class="form-control" onblur="f_fotomec()" name="volumen_fotomec" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Costo Unitario:</label> 
					<input class="form-control" onblur="f_fotomec()" name="costo_unit_fotomec" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Costo Total:</label> 
					<input class="form-control" onblur="funcion(this.value)" name="costo_tot_fotomec" value="0" type="text"> <br>
				</div>
			</div>
			<hr>
			<h3><label for="texto">M.O. Impresion offset:</label><br></h3>
			<div class="row">
				<div class="col-xs-3">
					<label for="texto">Volumen:</label> 
					<input class="form-control" onblur="f_offset()" name="volumen_impOffset" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Costo Unitario:</label> 
					<input class="form-control" onblur="f_offset()" name="costo_unit_impOffset" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Costo Total:</label> 
				<input class="form-control" onblur="funcion(this.value)" name="costo_tot_impOffset" value="0" type="text"	> <br>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-3">
					<label for="texto">Fotocopia B/N:</label> 
					<input class="form-control" onblur="funcion(this.value)" name="fotocopia" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Corte:</label> 
					<input class="form-control" onblur="funcion(this.value)" name="corte" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Compaginacion:</label> 
					<input class="form-control" onblur="funcion(this.value)" name="compaginacion" value="0" type="text"> <br>
				</div>
			</div>
			<hr>
			<h3><label for="texto">Grapado o Encolado:</label><br></h3>
			<div class="row">
				<div class="col-xs-3">
					<label for="texto">Volumen:</label> 
					<input class="form-control" onblur="f_grap_enc()" name="volumen_grap_enc" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Costo Unitario:</label> 
					<input class="form-control" onblur="f_grap_enc()" name="costo_unit_grap_enc" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Costo Total:</label> 
					<input class="form-control" onblur="funcion(this.value)" name="costo_tot_grap_enc" value="0" type="text"> <br>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-3">
					<label for="texto">Numerado:</label> 
					<input class="form-control" onblur="funcion(this.value)" name="numerado" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Troquelado:</label> 
					<input class="form-control" onblur="funcion(this.value)" name="troquelado" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Plastificado:</label> 
					<input class="form-control" onblur="funcion(this.value)" name="plastificado" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Otros</label> 
					<input class="form-control" onblur="funcion(this.value)" name="otros" value="0" type="text"> <br>
				</div>
			</div>
				<hr>
				<h3><label for="texto">Totales:</label><br></h3>
			<div class="row">
				<div class="col-xs-3">
					<label for="texto">Sub total:</label> 
					<input class="form-control" onblur="porcentaje(this.value)" name="subt_prod" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Gastos:</label><br>
					<input class="form-control" onblur="porcentaje(this.value)" name="gastos" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Costo Total:</label> 
					<input class="form-control" onblur="porcentaje(this.value)" name="costo_total" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">Utilidad Bruta:</label> 
					<input class="form-control" onblur="utilidad(this.value)" name="utilidad_bruta" value="0" type="text"> <br>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<label for="texto">Descuento en C$:</label> 
					<input class="form-control" onblur="funcion(this.value)" name="descuento" value="0" type="text"> <br>
				</div>
				<div class="col-xs-3">
					<label for="texto">% Utilidad Bruta:</label> 
					<input class="form-control" onblur="utilidad(this.value)" name="por_bruta" value="0" type="text"> <br>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<h3><label for="texto">Valor de venta:</label> </h3>
					<input class="form-control" onblur="utilidad(this.value)" name="valor_venta" value="0" type="text"> <br>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<label for="texto">Precio de venta:</label> 
					<input class="form-control" onblur="utilidad(this.value)" name="precio_venta" value="0" type="text"> <br>
				</div>
			</div>
			<br><br>

			<section id="con" style="border:solid 1px black; heigth:19843px;"></section>
				<input id="midi" value="" type="text">
				<input class="btn btn-success" value="Almacenar" type="submit"><p>
			</p>
	</form>
</div>

	<script src="http://127.0.0.1:8000/js/jquery.js"></script>
	<script src="http://127.0.0.1:8000/css/bootstrap/js/bootstrap.js"></script>
	<script type= "text/javascript" src="http://127.0.0.1:8000/js/calcCostos.js"></script>
</body>
</html>