label{
	margin-bottom: 5px;
    margin-top: 6px;
}

ul{
	list-style: none;
}
hr{
	margin-top: 12px;
	margin-bottom: 12px;
	border-top: 1px solid #B4B4B4;
	width: 100%;
}
.btn-cal{
	margin-left: 10px;
	margin-top: 30px;
}
.btn-siguiente{
	margin-top:25px;
	margin-bottom: 15px;
	margin-right: 2px;
	margin-left: 7px;
}
#telphone{
	background-color: #fff;
}
.btn-atras{
	margin-top:25px;
	margin-bottom: 15px;
}
.alitabla{
	text-align: right;
}
/*Botones del sistema de isnaya*/
.btn-yellow{
	background-color: #F1DF18;
	width: 90px;
	color:#4D4D4D;
}
.btn-yellow-big{
	background-color: #F1DF18;
	border-color:  #F3E43E;
	color:#4D4D4D;
	width: 60%;
}
.btn-yellow-big:focus, .btn-yellow-big:hover{
	background-color: #E9DC56;
	border-color:  #F2E017;
	color: #484848;
}
.btn-cian{
	background-color: #00AFEA;
	height: 35px;
	width: 90px;
	border-color: transparent;
}
.btn-cian-big{
	background-color: #00AFEA;
	width: 100%;
	border-color: transparent;
}

.btn-cian-login{
	background-color: #00AFEA;
	border-color: transparent;
	width: 60%;
}

.btn-cian-login:hover,
.btn-cian-login:focus{
	background-color: #3AC4F3;
	border-color: transparent;
}
.btn-cian-small{
	background-color: #00AFEA;
	width: 40px;
}
.btn-cian:focus, .btn-cian-big:focus, .btn-cian-small:focus,
.btn-cian:hover,.btn-cian-big:hover,.btn-cian-small:hover{
	border-color: #0486B2;
	background-color: #51C9F2;
}
.btn-magenta{
	background-color: #ED5F66;
	width: 90px;
	color:#F4EFEF;
}
.btn-magenta-small{
	background-color: #ED5F66;
	width: 40px;
	height: 35px;
	color:#F4EFEF;
}
.btn-magenta-big{
	background-color: #EA38A7;
	border-color:  #EF5EB8;
	color:#F4EFEF;
	width: 60%;
}
.btn-magenta:focus, .btn-magenta-big:focus, .btn-magenta-small:focus,
.btn-magenta:hover,.btn-magenta-big:hover,.btn-magenta-small:hover{
	border-color: #DA329A;
	background-color: #FF5ACE;
}

/*Fin de Botones del sistema de isnaya*/
/*Inicio de diseño de los contenedores del sistema de isnaya*/
.cabecera-yellow{
	border-left: 7px solid #F3E43E;
	margin-bottom: 15px;
	height: 55px;
}
.cabecera-mag{
	border-left: 7px solid #EF5EB8;
	margin-bottom: 15px;
	height: 55px;
}
.login{
	border-top: 10px solid #00AFEA;
}
.log-container{
	margin-top: 70px;
	
}
#logo{
	margin-left: 5px;
}
/*Inicio de diseño de los modales del sistema de isnaya*/
.mod-yellow{
	border: 1px solid #D9D7D7;
	border-top: 7px solid #F3E43E;
	border-radius: 0px 0px 10px 10px;
	margin-top: 100px;
}
.mod-magenta{
	border: 1px solid #D9D7D7;
	border-radius: 0px 0px 10px 10px;
	border-top: 7px solid #EF5EB8;
	margin-top: 100px;
}
/*Fin de diseño de los contenedores del sistema de isnaya*/
.navbar-default{
	background-color: #fff;
    border-color: transparent;
    box-shadow: rgba(0,0,0,0.2) 5px 5px 20px;
	padding-top: 12px;
    padding-bottom: 12px;
}
.pestania{
	border: 1px solid #D9D7D7;
	border-radius: 10px;
}

.text-reset{
	border: 0px;
	border-color: #FFFFFF !important;
    /*border-bottom: 1px solid #727070 !important;*/
    border-radius: 0px; 
    display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}
/*.text-reset:hover,
.text-reset:focus
{
	border-color: #FFFFFF !important;
    border-bottom: 2px solid #00AFEA!important;
    border-radius: 0px;  
}*/
.linea{
	margin-top: 0px;
	margin-left: 10px;
}
#email{
	margin-left: 15px;
}
#email:focus{
	outline: 0px;
}
.iva{
	margin: 12px 7px 12px 22px!important
}
#password{
	outline: 0px;
    border-radius: 0px;
	margin-left: -5px;
}
#sizing-addon1
{
	background-color: #FFF;
	border-color: #FFF;
	/*border-bottom: 1px solid #727070 !important;*/
	border-radius: 0px;
}

.tit-cal{
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
	margin-left: 20px;
}
#inicio1{	
	border: 1px solid #D9D7D7;
	border-top: 7px solid #F3E43E;
}
#inicio2{
	border: 1px solid #D9D7D7;
	border-top: 7px solid #EF5EB8;
}

@media (min-width: 900px) {
	#inicio1{	
		margin-left: -60px;
	}
	#inicio2{
		margin-left: 60px;
	}
}
/*Este es el contenedor de las ilustraciones de inicio*/
#contenedorPrincipal{
	margin-top: 70px !important;
}
/*Estilos para productos*/
th#opc{
	padding-left: 560px;
}

td#op{
	padding-left: 560px;
}

/*modal add*/
.modal-header.prod{
	border-top: 7px solid #F3E43E;

}

/*a#edit.btn.btn-info{
	margin-left: 5px;
}*/
a#elim.btn.btn-danger{
	background-color: #EC0909;
	/*margin-left: 80px;*/
}

/*Estilos para proformas*/
a#imprimir{
	background: #EDF50F;
}

.fa.fa-print{
	color: #453737;
	font-size: 17px;
}

.modal-header.deta{
	border-top: 7px solid #EF5EB8;

}
/*Formatos*/
th#thop{
	padding-left: 500px;

}

td#tdop{
	padding-left: 500px;
}
/* Dropdown del menu */
a#funciones:hover{
	border-left: 5px solid #F3E43E;
	color: #00AFEA;	
}
a#proformas:hover{
	border-left: 5px solid #EF5EB8;
	color: #00AFEA;	
}
a#usuario:hover{
	border-left: 5px solid #00AFEA;
	color: #00AFEA;
}

.mat-cuerpo
{
	border-left: 0px !important;
	border-right: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.mat
{
	padding-left: 0px !important;
}
.cab-titulos
{
	margin-top: 10px;
}

.espacio{
	margin-top: 5px !important;
}

#perfil-bordes{
border-top: 2px solid #9E9E9E;
border-left: 2px solid #9E9E9E;
border-right: 2px solid #9E9E9E;
border-bottom: 2px solid #9E9E9E;
}
#perfil-bor{
border-left: 2px solid #9E9E9E;
border-right: 2px solid #9E9E9E;
border-bottom: 2px solid #9E9E9E;

}
#perfil-name{
font-size: 18px;
}

.footer{
	color: #4D4D4D;
	font-size: 16px;
	font-style: italic;
	margin-top: 145px;
	margin-left: 10px;
}
#foot{
	margin-left: 75px;
}