div .panel-title{
	padding-top: 12px;
	padding-left:20px;
	border-left:5px solid #999999;
	margin-right:10px;
	border-color: #F4F709;
	font-family:cursive; /*tipo de letra*/
}

hr{
	border-top:2px solid #e6e6e6;
}

th#op{
	padding-left: 500px;

}

td#o{
	padding-left: 500px;

}

a#op.btn.btn-danger{
	background-color: #EC0909;
}
